.country_container {
    display: flex;
    justify-content: center;
    background-color: var(--bgc-countries);
    max-width: 1000px;
    margin: 10px auto;
}

.countries_list {
    margin: 10px auto;
}

.country_list_item {
    padding: 10px;
    margin: 0 10px;
    font-size: 20px;
}

#rmvListBtn {
    margin: auto 10px auto 0;
    padding: 5px;
    border-radius: 60% 30%;
    background-color: var(--bgc-button);
    color: var(--text-button);
    max-height: 40px;
}